# Datasets
ImageEmotionModel/ImageEmotionDataset*
SongEmotionModel/SongEmotionDataset
SongEmotionModel/emotifymusic
Imaginary Soundscape/data

# Virtual Envs
venv

# Other
*.ipynb_checkpoints
*.DS_Store