# Datasets
ImageEmotionModel/ImageEmotionDataset*
SongEmotionModel/SongEmotionDataset
SongEmotionModel/emotifymusic
Imaginary Soundscape/data

# Virtual Envs
venv
env
myenv
tutorial-env

# Other
*.ipynb_checkpoints
*.DS_Storemyenv/
