# Datasets
ImageEmotionModel/ImageEmotionDataset*
SongEmotionModel/SongEmotionDataset
SongEmotionModel/emotifymusic
Imaginary Soundscape/data

#Models
*.pth
Imaginary Soundscape/soundnet8_final.pth

# Virtual Envs
venv
env
myenv
tutorial-env

# Other
*.ipynb_checkpoints
*.DS_Store
